.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__linksItem {
    background: #2C3878;
    color: #fff;
    border: none;
}

.header__links > span {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #333333;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        bottom: -4px;
        display: block;
        height: 2px;
        background-color: #2C3878;
        transition: all ease 0.4s;
    }

    &:hover {
        color: #2C3878;

        &::after {
            width: 100%;
        }
    }
}

.header__links {
    display: flex;
    align-items: center;
    gap: 74px;
}

.header__logo {
    max-width: 126px;
    max-height: 54px;
}