.ProductSection__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.ProductSection__textTitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 61px;
    max-width: 337px;
}

.ProductSection__textInfo {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #9C9C9C;
    max-width: 473px;
}

.ProductSection__Links {
    display: flex;
    flex-direction: column;
    gap: 43px;
    margin-top: 73px;
}