.hero {
    position: relative;

    &::before {
       content: "";
       position: absolute;
       height: 2px;
       width: 683px;
       background-color: #000;
       right: 0;
       top: 50px; 
    }
}

.hero__title {
    max-width: 681px;
    font-weight: 700;
    line-height: 100.8px;
    font-size: 72px;
    color: #333333;
    margin-bottom: 46px;
}

.hero__img {
    width: 1200px;
    height: 513px;
}

.hero__stats {
    width: 252px;
    height: 525px;
    background: #2C3878;
    display: flex;
    flex-direction: column;
    gap: 57px;
    color: #fff;
    justify-content: center;
    position: absolute;
    top: 110px;
    right: 142px;
}

.hero__stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__stats span:first-child {
    line-height: 83.2px; 
    font-size: 52px;
    font-weight: 400;
}

.hero__stats span:last-child {
    line-height: 25.6px; 
    font-size: 16px;
    font-weight: 400;
}

