.input {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #141414;
    justify-content: space-between;
    padding-right: 4px;
    min-width: 360px;

    &__field {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #111111;
        border: none;
        padding: 0;
        outline: none;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #D9D9D9;
        }
    }

    &__img {
        width: 32px;
        height: 32px;
    }

}