.footerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__rowMainImage {
        width: 126px;
        height: 54px;
    }

    &__rowMainTitle {
        font-weight: 600;
        font-size: 36px;
        line-height: 61px;
        max-width: 481px;
        flex-grow: 1;
    }

    &__contactText {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;

        &::before {
            content: "";
            height: 14px;
            width: 14px;
            background-color: #000;
            border-radius: 20px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__socials {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__socialsGroup {
        display: flex;
        gap: 24px;
    }

    &__socialsGroupImg {
        width: 32px;
        height: 32px;
    }
}