.main {
    position: relative;
}

.main__text {
    font-weight: 600;
    font-size: 36px;
    line-height: 61px;
    margin-top: 20px;
}

.main__block {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
}

.main__blockImg {
    width: 883px;
    height: 525px;
}

.main__blockDescription {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.main__blockDescription > p {
    font-size: 18px;
    max-width: 223px;
    font-weight: 400;
    color: #9C9C9C;
    line-height: 29px;
}

.main__blockDescriptionButton {
    background: #2C3878;
    color: #fff;
    border: none;
}

.main__author {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    width: 276px;
    height: 90px;
    background: #fff;
    filter: drop-shadow(10px 10px 40px rgba(0, 0, 0, 0.05));
    position: absolute;
    right: 116px;
    top: 253px;

    img {
        width: 56px;
        height: 56px;
    }
}

.main__authorName {
    display: flex;
    flex-direction: column;

    span:first-child {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }

    span:last-child {
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: #9C9C9C;
    }
}