.Link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
        .Link__itemNumber, 
        .Link__itemInfoTitle {
            color: #2C3878;
        }
        .Link__Img {
            transform: translateX(8px);
        }
    }
}

.Link__item {
    display: flex;
    gap: 87px;
}

.Link__Img {
    width: 32px;
    height: 32px;
    transition: all ease 0.2s;
}

.Link__itemInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Link__itemInfoText {
    max-width: 469px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.Link__itemInfoTitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    transition: all ease 0.2s;
}

.Link__itemNumber {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    transition: all ease 0.2s;
}
