.serviceLink__img {
    width: 32px;
    height: 32px;
    transition: 0.2s ease all;
}

.serviceLink__infoNumber {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}

.serviceLink__infoText {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}

.serviceLink {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.serviceLink__info {
    display: flex;
    gap: 40px;
}

.serviceLink {
    cursor: pointer;

    &:hover {
        color: #2C3878;

        .serviceLink__img {
            transform: translateX(8px);
        }
    }
}