.contactSection {
    position: relative;
    background: #2C3878;
    padding: 38px 0;
    display: flex;
    justify-content: space-between;
    gap: 12px; 
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
        background: #2C3878;
        z-index: -1;
    }
}

.contactSection__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 61px;
    color: #FFFFFF;
    max-width: 613px;
    flex-grow: 1;
}

.contactSection__blockText {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #D9D9D9;
    max-width: 432px;
}

.contactSection__blockButton {
    background: #FFFFFF;
    border: none;
}

.contactSection__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}