.serviceSection__cardTitle {
    display: block;
    font-weight: 600;
    font-size: 36px;
    line-height: 61px;
    margin-top: 32px;
    margin-bottom: 24px;
}

.serviceSection__cardText {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    max-width: 471px;
    color: #9C9C9C;
}

.serviceSection__card {
    max-width: 883px;
    padding-bottom: 40px;
    background: #fff;
}

.serviceSection__cardLinks {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.serviceSection__image {
    position: relative;
    z-index: -1;
    margin-top: -163px;
    float: right;
    width: 1076px;
    height: 524.55px;
}

.serviceSection {
    position: relative;
}