.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000090;
    width: 100%;
    height: 100%;
    z-index: 10;
    
    backdrop-filter: blur(6px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: rgb(255, 255, 255);
    padding: 32px 48px;

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    &__button {
        background: #2C3878;
        color: #fff;
        border: none;
    }
}