.MaterialSection {
    display: flex;
    justify-content: space-between;
}

.MaterialSection__info {
    flex-grow: 1;
}

.MaterialSection__infoButton {
    border: 1px solid #3C3C3C;
    background: #FFFFFF;
    margin-top: 24px;
}

.MaterialSection__infoTitle {
    font-weight: 600;
    font-size: 36px;
    line-height: 61px;
    max-width: 348px;
    margin-top: 20px;
}

.MaterialSection__infoText {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    max-width: 497px;
    margin-top: 10px;
}

.MaterialSection__images {
    display: flex;
    gap: 40px;
    margin-top: -47px;
    margin-left: -23px;
}

.MaterialSection__imagesFirst {
    width: 342px;
    height: 392px;
    margin-top: 98px;
}

.MaterialSection__imagesGroup {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.MaterialSection__imagesGroupSecond {
    width: 241px;
    height: 225px;
    
}

.MaterialSection__imagesGroupThird {
    width: 195px;
    height: 178px;
}