.main {
    padding-top: 40px;
    padding-bottom: 84px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main__hero {
    margin-top: 97px;
}

.main__about {
    margin-top: 160px;
}

.main_service {
    margin-top: 160px;
}

.main__product {
    margin-top: 160px;
}

.main__material {
    margin-top: 210px;
}

.main__contact {
    margin-top: 120px;
}

.main__footer {
    margin-top: 80px;
}