.text {
    display: flex;
    align-items: center;
    gap: 17px;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;

    &::after {
        display: block;
        content: "";
        height: 2px;
        flex-grow: 1;
        max-width: 529px;
        background-color: #000;
    }
}